.box,
.usersName,
.titleBox,
.title,
.inconeBox,
.iconeText,
.deleteBox,
.boxTitle,
.boxText,
.deleteButtonBox,
.deleteButton {
  /* border: solid green 3px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** Titre de la page **/

.titleBox {
  /* border: solid red 1px; */
  width: 100%;
  flex-direction: row;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px black;
}

.title {
  /* border: solid green 1px; */
  width: 80%;
  flex-direction: row;
  font-family: var(--fonte);
  font-size: 2rem;
  color: red;
}

.inconeBox {
  /* border: solid green 1px; */
  width: 20%;
}

.incone {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconeText {
  width: 100%;
  flex-direction: row;
  font-size: 0.5rem;
}

.deleteBox {
  /* border: solid green 3px; */
  width: 98%;
  box-shadow: var(--shadow);
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}

.boxTitle {
  font-size: 2rem;
  color: var(--Primary);
  padding: 20px 0px 20px 0px;
  font-family: 'Russo One', sans-serif;
}

.boxText {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 10px 0px 10px 0px;
}

.deleteButton {
  width: 50%;
  background: var(--Primary);
  color: white;
}

.deleteButton:hover {
  background: red;
  color: black;
  font-weight: bolder;
}
