.box,
.usersName,
.titleBox,
.title,
.inconeBox,
.iconeText,
.usersInfosBox,
.formBox,
.postButton,
.inputInstruction,
.inputImage,
.userImage,
.handleProfilButtonsBox,
.handleProfilButtons,
.handleProfilButtonsModifier,
.handleProfilButtonsSupprimer,
.handleProfilButtonsAnnonces {
  /* border: solid green 3px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** Titre de la page **/

.titleBox {
  /* border: solid red 1px; */
  width: 100%;
  flex-direction: row;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px black;
}

.title {
  /* border: solid green 1px; */
  width: 80%;
  flex-direction: row;
  font-family: var(--fonte);
  font-size: 2rem;
  color: var(--Primary);
}

.inconeBox {
  /* border: solid green 1px; */
  width: 20%;
}

.incone {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconeText {
  width: 100%;
  flex-direction: row;
  font-size: 0.5rem;
}

/** Information sur le l'utilisateur **/

.usersInfosBox {
  width: 100%;
  margin-top: 10px;
}

.usersInfo {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 5px;
}

.info1 {
  font-weight: bold;
  padding-right: 10px;
}

.usersInfoImage {
  width: 100%;
  border-radius: 50%;
  margin: 10px 0px 10px 0px;
}

/** Bouton gestion profl **/

.handleProfilButtonsBox {
  /* border: solid green 3px; */
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.handleProfilButtonsModifier,
.handleProfilButtonsSupprimer,
.handleProfilButtonsAnnonces {
  width: 30%;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.formBox {
  /* border: solid green 1px; */
  width: 98%;
  margin: 10px 0px 10px 0px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.inputInstruction {
  font-size: 1.5rem;
  padding: 10px 5px 10px 5px;
  text-align: center;
  line-height: 30px;
}

.userImage {
  width: 100%;
  border-radius: 50%;
  margin: 15px 0px 10px 0px;
}
.postButton {
  padding: 10px;
}

.prewieuImageBox {
  width: 100%;
}

.prewieuImage {
  width: 100%;
}
